.page-loaded {
  .page-header {
    opacity: 1;
  }

  .page-header__logo {
    left: 0;
  }

  .page-header__menu {
    a {
      &.active {
        &::after {
          width: 100%;
          left: 0;
        }
      }
    }
  }

  .social-block__toggler {
    &::before {
      width: 100%;
      height: 100%;
    }
  }

  .screen__footer {
    bottom: 0;
  }
}
