@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInUp {
  0% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(1rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes increaseWidthLeft {
  0% {
    flex-grow: 0;
  }
  100% {
    flex-grow: 1;
  }
}
